.pricing{
  &__container{
    max-width: 1240px;
  }
  &_top{
    padding-top: 154px;
    padding-bottom: 160px;
    &-title{
      font-family: "Inter-SemiBold", sans-serif;
      margin-top: @space;
      &-up{
        font-size: 20px;
        line-height: 32px;
      }
      &-down{
        margin-top: @space * 2;
        color: rgba(@background_white, .7);
      }
    }
    &-swither{
      max-width: 480px;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin: 60px auto 0;
      &-billed{
        align-items: center;
        label{
          width: 72px;
          height: 33px;
        }
        .chkbx-toggle + label::after{
          width: 21px;
          height: 21px;
          top: 6px;
          left: 6px;
        }
        .chkbx-toggle:checked + label::after{
          transform: translateX(39px);
        }
        .chkbx-toggle + label::before, .chkbx-toggle + label{
          background: rgb(148, 195, 160);
        }
      }
      &-title{
        margin-right: 16px;
        font-family: "Inter-SemiBold", sans-serif;
        font-size: 16px;
        line-height: 24px;
      }
      &-leibal{
        padding: 6px 12px;
        border-radius: 20px;
        background: @sub_orange;
        font-family: "Inter-SemiBold", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: @text-white;
      }
    }
    &-plans{
      margin-top: 40px;
    }
    &-compare{
      font-family: "Inter-Bold", sans-serif;
      font-size: 16px;
      line-height: 24px;
      margin: 40px auto 0;
    }
  }
}

.block-plan{
  background: @background_white;
  border-radius: @main_radius;
  padding: 35px 12px 12px;
  min-height: 431px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  &.slick-slide{
    display: flex;
  }
  &_title{
    font-size: 18px;
    line-height: 24px;
  }
  &_price{
    margin-top: 12px;
    font-size: 20px;
    line-height: 32px;
    .price{
      font-family: "Poppins-SemiBold", sans-serif;
      font-size: 56px;
      line-height: 64px;
    }
  }
  &_sub-title{
    font-size: 14px;
    line-height: 22px;
  }
  &_description{
    max-width: 215px;
    margin: 23px auto 0;
  }
  &_btn{
    display: block;
    font-family: "Inter-Bold", sans-serif;
    border: 2px solid #EBEEF2;
    border-radius: @secondary_radius;
    font-size: 14px;
    line-height: 22px;
    padding: 13px;
    width: 100%;
    margin-top: auto;
    transition: .3s;
    &:hover{
      background: @main_blue !important;
      color: @text-white;
      border-color: @main_blue;
    }
  }
  &_contact-sales{
    font-family: "Inter-Bold", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    margin-top: 34px;
  }
}

.featured{
  padding-bottom: 100px;
  &_title{
    max-width: 559px;
    margin: 0 auto;
  }
  &_block{
    max-width: 277px;
    padding: 32px;
    background: @background_white;
    box-shadow: @cards_shadow;
    border-radius: @main_radius;
  }
  &_slider-fluid{
    //margin-top: 60px;
    padding-bottom: 20px;
    .file-edit_block{
      max-width: 277px;
      min-height: 256px;
      margin: 60px 15px 70px;
      &-title{
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 32px;
        color: @main_text;
        .title{
          margin-top: unset;
        }
        .icon-block{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 48px;
          height: 48px !important;
          align-self: baseline;
          margin-right: 16px;
          img{
            max-width: 28px;
          }
        }
      }
      .description{
        margin-top: 10px;
      }
    }
  }
}

.addons{
  padding-bottom: 120px;
  padding-top: 160px;
  &_starts{
    display: block;
    margin: 0 auto;
  }
  &_title{
    margin-top: 12px;
  }
  &_container{
    max-width: 1240px;
  }
  .blocks{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    .block{
      padding: 32px 18px 18px;
      background: @background_white;
      border-radius: @main_radius;
      &-status{
        align-items: center;
        justify-content: center;
        &-info{
          padding: 12px 16px;
          margin-right: 16px;
          border-radius: 6px;
        }
        &-desk{}
      }
      &-title{
        margin-top: 20px;
      }
      &-description{
        margin-top: 8px;
      }
      .chevron{
        top: 0;
        right: 16px;
      }
    }
  }
  &_btn{
    align-items: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 60px auto 0;
    img{
      margin-left: 8px;
      transition: .3s;
    }
    &:hover{
      img{
        transform: translateX(3px);
      }
    }
  }
}

.enterprise{
  padding-top: 197px;
  padding-bottom: 180px;
  &_bg{
    max-width: 1434px;
    bottom: -29px;
    right: 50%;
    transform: translateX(50%);
  }
  &_block{
    max-width: 590px;
  }
  &_title{
    margin-top: 16px;
  }
  &_description{
    margin-top: 24px;
    font-size: 20px;
    line-height: 32px;
    color: @stroke_light;
  }
  &_btns{
    margin-top: 40px;
    .btn-dark{
      background: #3B5BBA;
      margin-left: 24px;
    }
  }
  &_container{
    max-width: 1240px;
  }
}

.featured{
  &-list{
    padding-top: 60px;
    padding-bottom: 150px;
  }
  &-tables{
    max-width: 1240px;
    margin: 60px auto 0;
  }
}

.table{
  &-wrapper{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    &:first-of-type{
      margin-top: 0;
    }
  }
  &_head{
    border-bottom: 1px solid @stroke_light;
    &.collapse{
      .collapse-text{
        max-width: 184px;
      }
      .chevron{
        margin-right: 17px;
        max-width: 10px;
      }
    }
    &.collapse{
      font-size: 16px;
      line-height: 24px;
      font-family: "Inter-SemiBold", sans-serif;
    }
    &.price{
      padding-right: 12px;
    }
  }
  &_cell{
    padding: 12px 5px 13px 16px;
    border-bottom: 1px solid @stroke_light;
    &-data{
      color: @main_text;
    }
    &-title{
      .tooltips .tooltip-info{
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        bottom: 40px;
        right: -151px;
      }
      img{
        margin-left: 8px;
        position: relative;
        top: 3px;
      }
    }
  }
}

.price{
  &_head{
    font-size: 16px;
    line-height: 24px;
    font-family: "Inter-SemiBold", sans-serif;
    border-radius: 12px 12px 0 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    position: relative;
    top: 1px;
  }
}

.loved-by{
  padding-top: 180px;
  padding-bottom: 200px;
  &_title{
    max-width: 622px;
    margin: 0 auto;
  }
  &_container{
    max-width: 1240px;
  }
  .blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(13px);
    border-radius: 12px;
    padding: 40px 60px;
    .block{
      &-title{
        font-size: 18px;
        line-height: 24px;
      }
      &_price{
        align-items: center;
        margin-top: 8px;
        &-currency-code{
          font-family: "Poppins-SemiBold", sans-serif;
          font-size: 20px;
          line-height: 32px;
          position: relative;
          top: 9px;
        }
        &-summa{
          font-family: "Poppins-SemiBold", sans-serif;
          font-size: 48px;
          line-height: 56px;
        }
        &-description{
          max-width: 81px;
          margin-left: 8px;
          font-family: "Inter-Regular", sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: #BDC8E8;
        }
      }
      &_btn{
        margin-top: 24px;
        display: block;
        width: 100% ;
        max-width: 180px;
        font-size: 14px;
        line-height: 22px;
        padding: 12px 32px;
      }
      &_description{
        margin-top: 4px;
      }
    }
  }
}

.user-billing{
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 32px;
  &_violet{
    font-family: "Poppins-SemiBold", sans-serif;
    background: linear-gradient(117.84deg, #E49BF4 -21.66%, #4924B1 100.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &_item{
    &:first-of-type{
      margin-top: 40px;
    }
    &.item{
      p.text{
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}

a.user-billing_violet{
  transition: .3s;
  &:hover{
    text-decoration: underline;
  }
}

.freedcamp-people{
  .blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
  }
  .block{
    padding: 73px 32px 32px;
    max-width: 585px;
    background: @background_white;
    box-shadow: @cards_shadow;
    border-radius: @main_radius;
    &::after{
      content: '';
      display: block;
      position: absolute;
      left: 48%;
      top: -26%;
      transform: translateX(-50px);
      z-index: 0;
      width: 121px;
      height: 121px;
      border-radius: 50%;
      background: @background_grey;
    }
    &_img{
      left: 50%;
      top: -21%;
      transform: translateX(-50px);
      width: 96px;
      height: 96px;
      object-fit: none;
      background: @background_white;
      box-shadow: @cards_shadow;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
.pricing.featured{
  .featured_slider-fluid .file-edit_block-title .icon-block {
    background: aliceblue;
  }
}
